# This file indicates that Parag Gupta is the sole owner of all files in this repository
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in the repository
*       @paraggupta10
